---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Micomponente from '../components/contador';
import Micomponente2 from '../components/random';
---

<Layout title="Contador de clientes.">
    <Header/>
	<main class="w-full flex justify-center items-center">
	<!-- <Micomponente client:load></Micomponente> CONTADOR -->
	<Micomponente2 client:load></Micomponente2>
	</main>
</Layout>
