---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Buscar from "../components/buscar";
---

<Layout title="Información IP.">
	<Header />
	<main class="w-full flex justify-center items-center">
		<Buscar client:load></Buscar>
	</main>
</Layout>